.header {
  height: auto;
  width: auto;
  margin: 0;
  display: flex;
  justify-content: center;
}

.header__image {
  margin-top: 10vh;
  max-width: 254px;
  max-height: 68.94px;
}

/* @media (max-width: 1024px) {
  .header {
    text-align: center;
  }
  .header__image {
    transform: scale(1);
  }
} */

/* @media (max-width: 544px) {
  .header__image {
    margin-top: 25vh;
    transform: scale(2.5);
  }
} */
