.header {
  height: auto;
  width: auto;
  margin: 0;
  display: flex;
  justify-content: center;
}

.header__image {
  margin-top: 2.5vh;
  max-width: 190px;
  max-height: 110px;
}
@media (max-width: 1024px) {
  .header__image {
    margin-top: 2vh;
    max-width: 180px;
    max-height: 100px;
  }
}
@media (max-width: 544px) {
  .header__image {
    margin-top: 1.5vh;
    max-width: 175px;
    max-height: 195px;
  }
}
