.header{
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__image{
  margin:34px auto 0;
  max-width:254px;
  max-height:68.94px;
  object-fit: cover;
}

@media(max-width:1024px){
  .header__image{
    transform: scale(1.5);
  }
}

@media (max-width:544px){
  .header__image{
    margin-top:25vh;
    transform: scale(2.5);
  }
}