.intro {
  margin: 0;
  margin-top: 6%;
  padding: 0;
  padding-left: 10%;
  padding-right: 20vw;
}
.intro__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 70px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.intro__text {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-right: 13%;
  font-weight: 400;
}
.intro__text_author {
  margin-top: 17px;
  font-size: 30px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  line-height: 40px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.intro__text_author-left {
  text-align: right;
}
.intro__text_little {
  margin-top: 70px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 26.08px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
@media (max-width: 1024px) {
  .intro {
    padding: 0;
    margin-top: 70px;
    padding: 0 5vw;
  }
  .intro__title {
    padding-right: 7vw;
    font-size: 6vw;
    line-height: 3rem;
  }
  .intro__text {
    padding: 0;
    margin: 0;
  }
  .intro__text_author {
    margin: 0;
    font-size: 23px;
  }
  .intro__text_little {
    margin-top: 30px;
    font-size: 16px;
  }
}

@media (max-width: 544px) {
  .intro__title {
    line-height: 35px;
    font-size: 32px;
    margin-top: -2vh;
  }
  .intro__text {
    font-size: 22px;
  }
  .intro__text_little {
    margin-top: 1vh;
    font-size: 16px;
  }
}
