body {
  margin: 0;
  overflow-x: hidden;
}
.page {
  margin: 0;
  padding: 0;
  min-width: 1100px;
  max-width: 1600px;
  background-color: #2a2c2f;
  line-height: 20px;
  overflow: hidden;
  color: #fff;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .page {
    min-width: auto;
    max-width: auto;
  }
}
