body {
  margin: 0;
  overflow-x: hidden;
  background-color: #2a2c2f;
  color: #fff;
}
.page {
  margin: 0;
  width: 100%;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .page {
    padding: 0;
  }
}
@media (max-width: 544px) {
  .page {
    padding: 0;
  }
}
