.places {
  margin: 50px 11vw 0;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.places__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr 1fr;
  column-gap: 4%;
  row-gap: 5%;
  color: #fff;
}

.places__title {
  grid-column: 1;
  grid-row: 1;
  margin: 0;
  font-size: 7vw;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  line-height: 6rem;
}
.places__artista {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.places__artista-title {
  margin: 10px 0;
  font-size: 14px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #aaaa;
}
.places__artista-name {
  margin: 0;
  font-size: 18px;
  height: auto;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
}
.places__paragraph {
  grid-column: 2;
  grid-row: 2 span;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.places__text {
  margin: 0px;
  font-size: 15px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  line-height: 2rem;
  font-weight: 400;
}
.places__image {
  grid-column: 1;
  grid-row: 2;
  width: 38vw;
  height: max-content;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  justify-content: flex-start;
}
.places__button {
  margin-top: 50px;
  grid-column: 1;
  grid-row: -2;
  color: #fff;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  border-radius: 5px;
  width: 350px;
  height: 50px;
  font-size: 20px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 600;
  box-shadow: 5px 5px 10px #000;
}

.places__button:hover {
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
}

@media (max-width: 1024px) {
  .places {
    margin: 5%;
    margin-top: 100px;
    gap: 2.2vh;
  }
  .places__card {
    grid-template-rows: 0.5fr repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 5%;
  }
  .places__title {
    grid-row: 1/2;
    margin: 0;
    width: 44vw;
    line-height: 50px;
    font-size: 6vw;
  }
  .places__artista-title {
    font-size: 0.8rem;
  }
  .places__artista-name {
    font-size: 1rem;
  }
  .places__paragraph {
    grid-row: 2/-1;
    gap: 20px;
  }
  .places__text {
    font-size: 1rem;
    line-height: 3vw;
  }
  .places__image {
    grid-row: 2/4;
    width: 42vw;
    height: 42vw;
  }
  .places__button {
    align-items: start;
    margin: 0;
    grid-row: 4;
    width: 35vw;
    font-size: 1.99vw;
  }
}
@media (max-width: 544px) {
  .places {
    margin: 10px;
    gap: 15vw;
  }
  .places__card {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.3fr 0.9fr 2fr;
    gap: 35px;
  }
  .places__title {
    grid-row: 1;
    font-size: 10vw;
    width: auto;
    height: 4rem;
    line-height: 2rem;
  }
  .places__artista {
    grid-column: 1;
    grid-row: 2;
    margin: 0;
    justify-content: start;
  }
  .places__artista-name {
    font-size: 22px;
    line-height: 1.7rem;
  }
  .places__artista-title {
    font-size: 20px;
  }
  .places__image {
    grid-row: 3;
    box-shadow: none;
    width: 93vw;
    height: auto;
  }
  .places__paragraph {
    grid-column: 1;
    grid-row: 4;
  }
  .places__text {
    font-size: 17px;
    line-height: 1.5rem;
  }
  .places__button {
    grid-row: -1;
    width: auto;
    font-size: 5vw;
  }
}
